::before
::after {
    box-sizing:border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
}

.nav {
    display: flex;
    gap: 2rem;
}

.nav a {
    color: white;
    text-decoration: none;
}

.logo {
    color:aliceblue;
    font-size: 1.5rem;
    font-weight:600;
}
.card {
    width: 400px;
    background: aliceblue;
    color:turquoise;
    border-radius: 5%;
    border: 5px solid whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    margin:auto;
    text-align: center;
}

.card h3 {
    font-weight: lighter;
    padding: 5px;
    color:aqua;
}

.card.two{
    box-sizing: border-box;
    border-radius: 20%;
    border-style: ridge;
    background-color: orchid;
    width: 300px;
    padding: 20px;
    margin: 10px;

}

