::before
::after {
    box-sizing:border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
}

.nav {
    display: flex;
    gap: 2rem;
}

.nav a {
    color: white;
    text-decoration: none;
}

.logo {
    color:aliceblue;
    font-size: 1.5rem;
    font-weight:600;
}
.card {
    width: 400px;
    background: aliceblue;
    color:turquoise;
    border-radius: 5%;
    border: 5px solid whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    margin:auto;
    text-align: center;
}

.card h3 {
    font-weight: lighter;
    padding: 5px;
    color:aqua;
}

.card.two{
    box-sizing: border-box;
    border-radius: 20%;
    border-style: ridge;
    background-color: orchid;
    width: 300px;
    padding: 20px;
    margin: 10px;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

ul {
  list-style: none;
}

ul li {
  padding: 5px;
  background: #f4f4f4;
  margin: 5px 0;
}

header {
  background: #f4f4f4;
  padding: 1rem;
  text-align: center;
}

.container {
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 3rem 2rem;
}

#my-form {
  padding: 2rem;
  background: #f4f4f4;
}

#my-form label {
  display: block;
}

#my-form input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}

.btn:hover {
  background: #444;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.error {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
}
